body {
    background-color: red;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
    
}

body:hover {
    background-color: yellow;
    color: cyan;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18pt;
}